body {
  font-family: PingFang, "Microsoft JhengHei", sans-serif;
  font-size: 20px;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.card {
  margin: 10px;
  padding: 10px;
  background: #004466;
}
